body {
  background-color: #efefef;
  background-image: url(https://i.imgur.com/0CNYVJa.png);
  background-size: 120px 84px;
  height: 100vh;
  width: 100%;
  font-family: "Caveat", cursive;
  font-size: 1.3rem;
}
@media(max-width: 600px){
  body{
    background-size: 60px 42px;  
  }
}
.main--content {
  background-color: #ffffff;
  /*  min-width: 1400px;*/
  margin: 82px 55px;
  padding: 30px 0px;
  color: #707070;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 145px 509px 1030px 202px 1151px 451px 851px 701px 76px;
  z-index: 0;
  box-shadow: 13px 13px 20px #00000029;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #bbbbbb;
  font-size: 4.875rem;
}
.fname {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0;
}
.lname {
  font-family: "Lobster", cursive;
}
.nametag {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5625rem;
  color: #9e4e4e;
}
@media(max-width:600px){
  .main--content{
  margin:32px 45px;
  padding: 10px 0px;
  grid-template-rows: 105px 209px 390px 130px 631px 251px 451px 401px 46px ;
  }
  .intro{
    font-size: 2rem;
  }
  .nametag{
    font-size: 50%;
  }
}
.section_1 {
  display: grid;
  place-items: center;
  z-index: 2;
}
.hero_img {
  height: 309px;
  width: 309px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-image: url(https://i.imgur.com/wsuXJFx.png);
  background-size: cover;
  box-shadow: 0 0 11px #d8d6d6;
}
.textarea_11 {
  width: 50%;
  text-align: center;
}
@media(max-width:600px){
  .hero_img{
  height: 154px;
  width: 154px;
  border: #ffffff 2px solid;
  }
  .textarea_11{
  font-size: 50%;
  width: 60%;
  }
}

.section_2 {
  display: flex;
  position: relative;
  background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffffeb 27%,
      #e1bebed9 51%,
      #a21616b5 100%
    ),
    url(https://i.imgur.com/DymJOkg.jpg);
  background-size: cover;
  background-position: center;
  top: -140px;
  z-index: 1;
  text-align: left;
}
.textarea_21 {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 3%;
  color: black;
}
.textarea_22 {
  width: 40%;
  position: absolute;
  right: 3%;
  bottom: 5%;
  color: #ffffff;
  text-align: right;

}
@media(max-width:600px){
  .section_2{
    font-size: 50%;
    top: -35px;
  }
  .textarea_21{
    width: 50%;
    left:2%;
  }
  .textarea_22{
    width: 50%;
  }
}

.section_3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.3125rem;
  font-weight: bold;
  padding: 0 20%;
  margin-top: -150px;
}
@media(max-width:600px){
  .section_3{
  margin-top: -30px;
  padding:0 10%;
  font-size: 70%;
  }
}

.section_4 {
  position: relative;
  background-color: #ecffff;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  z-index: 11;
}
.hero_img_2 {
  position: absolute;
  width: 480px;
  height: 480px;
  right: 5%;
  top: 86%;
  background: url(https://i.imgur.com/745XwLc.png);
  background-size: cover;
  border: 4px solid #ffffff;
  box-shadow: 0 0 13px #b1aeae;
  border-radius: 50%;
  z-index: 12;
}
.textarea_41 {
  position: absolute;
  width: 40%;
  top: 17%;
  left: 9%;
}
.textarea_42 {
  position: absolute;
  width: 63%;
  right: 7%;
  bottom: 2%;
}
.hand_img {
  position: absolute;
  height: 700px;
  width: 230px;
  background-image: url(https://i.imgur.com/y7vLOQt.png);
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 5%;
}
@media(max-width:600px){
  .section_4{
    font-size: 50%;
  }
  .hero_img_2{
    width: 200px;
    height: 200px;
    border: 2px solid #ffffff;
  }
  .textarea_41{
    top: 13%;
    left: 2%;
    width: 47%;
  }
  .textarea_42{
    right: 4%;
    bottom: -1%;
  }
  .hand_img{
    height: 350px;
    width: 115px;
  }
}

.section_5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.textarea_51 {
  width: 60%;
  margin: 30px 30px;
  margin-bottom: 10px;
}
.textarea_52 {
  width: 60%;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px 30px;
}
@media(max-width:600px){
  .section_5{
    font-size: 50%;
  }
  .textarea_52{
    font-size: 1.3rem;
    width: 70%;
  }
}

.section_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(https://i.imgur.com/RUDlBmw.png);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 85%);
}
.textarea_6 {
  color: black;
  width: 60%;
}
@media(max-width:600px){
  .section_6{
    font-size: 50%;
  }
  .textarea_6{
    width: 70%;
  }
}

.section_7 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}
.textarea_7 {
  width: 60%;
}
hr {
  color: lightgrey;
  width: 60%;
}
@media(max-width:600px){
  .section_7{
    font-size: 50%;
  }
  .textarea_7{
    width: 70%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  background-color: #ecffff;
  bottom: 5%;
}
a {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}
@media(max-width:600px){
  .footer{
    font-size: 45%;
  }
  a{
    padding: 5px;
  }
  img{
    width: 10px;
    height: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-size: 30px 21px;
  }
  .main--content {
    margin: 16px 22.5px;
    padding: 20px 0px;
    grid-template-rows: 83px 169px 300px 100px 460px 161px 310px 281px 30px;
  }
  .intro {
    font-size: 2rem;
  }
  .nametag {
    font-size: 45%;
  }
  .hero_img {
    height: 99px;
    width: 99px;
    border: #ffffff 1px solid;
  }
  .textarea_11 {
    font-size: 40%;
    margin-top: 14px;
    width: 60%;
  }
  .section_2 {
    font-size: 40%;
    top: -35px;
  }
  .textarea_21 {
    width: 45%;
    left: 2%;
  }
  .textarea_22 {
    width: 45%;
    text-align: right;
    bottom: 6%;
  }
  .section_3 {
    margin-top: -50px;
    padding: 0 15%;
    font-size: 55%;
  }
  .section_4 {
    font-size: 36%;
  }
  .hero_img_2 {
    width: 130px;
    height: 130px;
    border: 2px solid #ffffff;
  }
  .textarea_41 {
    top: 13%;
    left: 4%;
    width: 47%;
  }
  .textarea_42 {
    right: 3%;
    bottom: -1%;
    text-align: right;
    width: 65%;
  }
  .hand_img {
    height: 258px;
    width: 87.5px;
    left: 2%;
  }
  .section_5 {
    font-size: 40%;
  }
  .textarea_52 {
    font-size: 0.7rem;
    width: 70%;
    margin: 0px 0px;
  }
  .section_6 {
    font-size: 40%;
  }
  .textarea_6 {
    width: 70%;
  }
  .section_7 {
    font-size: 40%;
  }
  .textarea_7 {
    width: 70%;
  }
  .footer {
    font-size: 25%;
    bottom: 10%;
  }
  a {
    padding: 3px;
  }
  img {
    width: 5px;
    height: 5px;
  }
}
